body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-size: cover;
    background-position: 0 0;
}
header {
    margin: auto;
    padding: 10px;
    background-color:#6a8e22;
    text-align: center;
    color: aliceblue;
    text-shadow: -1px 1px 0 #000000,1px 1px 0 #a15b5b,1px -1px 0 #a15b5b,-1px -1px 0 #a15b5b;

}

main{margin: auto;padding: 10px;}
 li {margin: 5px;display: inline;
}

.navigation li a{
    text-decoration: none;
    color: aliceblue;
    border-radius: 8px;

}
.navigation li a:hover{
    background-color: aqua;
    text-shadow: none;
    text-decoration:underline;
    color: red;
}
.pics ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;

}
.pics li{
    display: inline-block;
    font-size: 14px;
    flex: 1;


}
.pics li p{
    opacity: 0.8;
}
.pics img{
    width: auto;
    height: 180px;
}
.l2{
    padding-left: 200px;
}
footer{
    margin: auto;
    padding: 8px;
    text-align: center;
    background: #272020ef;
    color: rgb(255, 255, 255);
   
}
.main2{
  margin: auto;
  padding: 8.5%;  
}
.menu{
    text-decoration:underline;
}
