

/*  Vous pouvez utiliser ce code gratuitement ** Oualid Hamri */

.xogame {

    width: 600px;
    text-align: center;
    color: white;
    background-color: #FFFF33;
    margin: auto;
}

.titlereload {
    color: black;
    font-size: 14px;
}

.title {
    color: rgb(44, 2, 226);
    background: #FFFF33;
    font-size: 40px;
    text-align: center;
}

.square {
    width: 180px;
    height: 180px;
    background: rgb(224, 51, 51);
    float: left;
    margin: 2px;
    font-size: 120px;
    align-items: center;
    color: rgb(0, 34, 255);
}

.square:hover {
    background: rgb(25, 80, 6);

}


.glo {
    align-items: center;
}
/* button not created by me */
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-52:after {
    content: "";
    background-color: #d8ff4c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}
