/*
Template: SPRUCE - Portfolio HTML Template
Author: Modina Theme
Author URI: https://salmancreation.com/
Description: Creative Portfolio HTML5 Template
Version: 1.0
*/
/*
=================================
|***    Table of contents:   ***|
=================================

1. General styles
2. Typography
3. Helpers
4. Preloader
5. Go up button
6. Header and navigation
7. Welcome Hero Section
8. About us
9. Service
10. Fun facts
11. Testimonial
12. Blog

Main Style file-> assets/css/style.css
*/